<div  style="text-align: center; ">
<h3>
  Меню
</h3>

<br/>

<button>
  <%= link_to 'Все товары', '/main/anecdotes' %>
</button>

<button>
  <%= link_to 'Корзина', '/bag' %>
</button>

<br/>
<br/>

<%= link_to 'Выйти', '/' %>
</div>