<div  style="text-align: center; ">
<%= link_to 'Назад', auth_url, method: :delete  %>
<%= link_to 'Корзина', '/bag' %>
<h3>
  Все товары
</h3>

<p>Название  Цена</p>

  <%- @products.each do |x| %>
  <li>
    <%= x.title %>
    <%= x.price %>
    <button>
      +
    </button>
  </li>
  <% end %>

</div>